html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
body {
  font-family: 'Raleway', sans-serif;
}
.app-wrapper {
  height: 100%;
  @media screen and (max-width: 768px) {

  }
}
