.app-header {
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 1.5rem 2rem 0;
  margin: 0;
  text-align: center;
  letter-spacing: .5px;
  &__title {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: 300;
  }
  &__subtext {
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  &__init-error {
    margin: 0;
    padding-bottom: 1.5rem;
    color: #bf0b0b;
    display: none;
    &--error-thrown {
      display: block;
    }
  }
}
#app-init {
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 25px;
  outline: 0;
  padding: .5rem 2rem;
  letter-spacing: .5px;
  cursor: pointer;
  margin-bottom: 1.5rem;
  background-color: white;
}
