.app-header {
  height: 100%;
  margin: 0;
  text-align: center;
  color: white;
  position: relative;
  &__content {
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition: all .2s;
    z-index: 1;
    &--hidden {
      transform: translate3d(-50%, -50%, 0) scale(0);
      opacity: 0;
    }
  }
  &__image {
    height: 6rem;
    margin-bottom: 1.5rem;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 300;
  }
  &__subtext {
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 1.4;
  }
  &__init-error {
    margin: 0;
    color: #c13c3c;
  }
}
#app-init {
  font-family: inherit;
  font-size: 1.1rem;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  outline: 0;
  padding: .5rem 2rem;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 1.5rem;
  background-color: inherit;
  transition: opacity .2s;
  &:hover {
    opacity: .5;
  }
}
.loader {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: .5rem;
  height: .5rem;
  background-color: white;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  &--loading {
    display: inline-block;
  }
}

@keyframes pulse{
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
